@color-accent: #F16D7F;
@button-animation-time: .3s;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  transition: @button-animation-time;
}

.text-field {
  border: 1px solid #A4A4A4;
  border-radius: 1px;
  padding: 0 17px;
  box-sizing: border-box;
}

.text-link {
  text-decoration: none;
  transition: .3s;
  color: currentColor;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    filter: brightness(50%);
    transition: none;
  }
}

@import url(page-header.less);
@import url(buttons-list.less);
@import url(search-form.less);
@import url(menu.less);
@import url(titled-list.less);
@import url(banner.less);
@import url(brand.less);
@import url(category.less);
@import url(products.less);
@import url(product-card.less);
@import url(features.less);
@import url(subscribe.less);
@import url(quote.less);
@import url(subscribe-form.less);
@import url(about.less);
@import url(copyright.less);
@import url(socials.less);
@import url(page-info.less);
@import url(filters-list.less);
@import url(pagination.less);
@import url(product.less);
@import url(slider.less);
@import url(main-filter.less);
@import url(cart.less);
@import url(registration.less);
@import url(registration-form.less);
@import url(buttons.less);

.icon {
  display: block;
}

.margin-no {
  margin: 0;
}


// ----------------------------------

@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }

  .buttons-list_parrent {
    margin: 0 32px;
  }

  .banner {
    &__content {
      min-height: 367px;
      background-size: contain;
      background-position-x: -16px;
      margin: 0 16px;
    }

    &__item {
      max-width: 720px;
      padding: 0 16px 0 0;
    }
  }

  .brand {
    &__title {
      font-size: 44px;
      line-height: 53px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .category {
    &__content {
      padding: 20px 0 155px;
      margin: 0 16px;
    }

    &__list {
      gap: 16px;
    }

    &__item {
      height: 168px;

      &:nth-child(4) {
        width: 100%;
        height: 116px;
      }
    }
  }

  .products {
    &__content {
      margin: 0 16px;
    }

    &__header {
      margin: 0 0 73px 0;
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    &__item {
      &:hover {
        transform: none;
      }

      &_hidden {
        display: none;
      }
    }

    &__footer {
      padding: 32px 0 65px 0;
    }

    &__filters {
      justify-content: space-between;
      padding: 24px 0 40px 0;
    }
  }

  .features {
    &__content {
      min-height: 610px;
      align-items: flex-start;
      margin: 0 16px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      min-height: 498px;
      padding: 48px 0 0 0;
    }

    &__item {
      width: 320px;
    }
  }

  .subscribe {
    background-size: auto 113%;
    background-position-x: -417px;

    &__content {
      align-items: flex-start;
      min-height: 614px;
      margin: 0 16px;
    }

    &__item {
      align-items: center;
      flex-direction: column;
      min-height: 410px;
      padding: 64px 0 0 0;
    }
  }

  .about {
    &__content {
      padding: 0 32px;
      margin: 0 16px;
    }
  }

  .page-info {
    &__content {
      margin: 0 16px;
    }
  }

  .product-card {
    &__title_size_l {
      max-width: 222px;
    }
  }


  .main-filter {
    margin: 0;
    width: auto;

    &__label {
      padding: 0;
    }

    &__dropdown-block {
      top: 11px;
    }
  }

  .pagination {
    margin: 8px 0 0 0;
  }

  .product {
    margin: 0 0 129px 0;

    &__info {
      position: static;
    }

    &__item {
      height: auto;
    }

    &__description {
      max-width: 641px;
      padding: 65px 43px;
    }

    & .container {
      max-width: 100%;
    }
  }

  .slider {
    min-height: 624px;

    &__photo {
      height: 565px;
    }
  }

  .cart {
    padding: 59px 0 62px 0;

    &__form {
      flex-direction: column;
      align-items: center;
      margin: 0 16px;
    }

    &__content {
      max-width: 734px;
      justify-content: center;
    }

    &__list {
      width: 100%;
    }

    &__item {
      &:last-of-type {
        margin: 0 0 62px 0;
      }
    }

    &__buttons {
      justify-content: space-between;
      max-width: 508px;
    }

    &__button {
      margin: 0 24px 0 0;

      &:last-child {
        margin: 0 0 0 24px;
      }

      &_size_l {
        max-width: 275px;
        width: 100%;
      }
    }

    &__bill {
      width: 100%;
      max-width: none;
      display: flex;
      align-items: center;
      padding: 64px 0 0 0;

    }

    &__bill-form {
      max-width: 360px;
      margin: 0 15px 0 0;
    }

    &__total {
      max-width: 360px;
      padding: 39px 34px 42px 44px;
      margin: 19px 0 0 0;

      & .cart__button {
        margin: 0;
      }
    }

    &__text-box::after {
      max-width: 275px;
      width: 100%;
    }
  }

  .registration {
    padding: 40px 0 96px 0;

    &__content {
      margin: 0 16px;
    }

    &__info {
      max-width: 354px;
      font-size: 16px;
      line-height: 19px;
    }

    &__title {
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 32px 0;
    }
  }

  .registration-form {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 640px) {
  .banner {
    &__content {
      background-position-x: -108px;
    }

    &__item {
      padding: 0;
    }
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 375px;
  }

  .buttons-list {
    &_centralized {
      align-items: center;
      height: 38px;
    }

    &_parrent {
      margin: 0 16px;
    }

    &__item {
      &_hiding {
        display: none;
      }

      &_shifting {
        margin: 0;
      }
    }
  }

  .banner {
    &__content {
      background: none;
    }

    &__item {
      width: 100%;
      justify-content: center;
      padding: 0 0 0 27px;
    }
  }

  .brand {
    &::before {
      height: 61px;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .category {
    &__content {
      padding: 64px 0 64px 0;
      margin: 0 16px;
    }

    &__list {
      grid-template-areas: "for-women"
        "for-men"
        "for-kids"
        "accesories";
      grid-template-columns: 1fr;
      gap: 32px;
    }

    &__item {
      max-width: 343px;
      width: 100%;
      height: 247px;


      &:nth-child(4) {
        width: 100%;
        height: 111px;
        background-position: center;
      }
    }
  }

  .products {
    &__content {
      margin: 0 8px;

      &_min {
        margin: 0 8px 64px 8px;
        padding: 0;
      }
    }

    &__header {
      margin: 0 0 65px 0;
    }

    &__footer {
      padding: 41px 0 96px 0;
    }

    &__list {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    &__item {
      &:nth-child(2) {
        display: none;
      }

      &_hidden {
        display: block;
      }
    }

    &__filters {
      padding: 24px 0 32px 0;
    }

    &__footer {
      padding: 40px 0 64px 0;
    }
  }

  .product-card {
    &_horizontal {
      min-height: 188px;
    }

    &__photo_size_s {
      width: 144px;
    }

    &__description_horizontal {
      padding: 14px 0 26px 17px;
    }

    &__title_size_l {
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 26px 0;
    }

    &__details-list {
      font-size: 14px;
      line-height: 17px;
    }

    &__detail {
      margin: 0 0 4px 0;
    }

    &__price_size_l {
      font-size: 14px;
      line-height: 17px;
    }

    &__quantity {
      width: 24px;
      height: 15px;
      font-size: 10px;
      line-height: 12px;
    }

    &__button {
      padding: 16px 12px 0;
    }

    &__close {
      width: 11px;
    }
  }

  .features {
    &__content {
      margin: 0 8px;
    }

    &__item {
      width: 100%;
    }
  }

  .subscribe {
    background-size: auto 105%;

    &__content {
      min-height: 550px;
      margin: 0 8px;
    }

    &__item {
      min-height: 376px;
    }
  }

  .quote {
    width: 100%;

    &__avatar {
      width: 92px;
      height: 92px;
    }

    &__text {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .subscribe-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      line-height: 37px;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 21px;
      margin: -4px 0 22px 0;
    }

    &__field {
      justify-content: center;
      max-width: 341px;
      width: 100%;
    }

    &__input {
      max-width: 245px;
      width: 100%;
      height: 47px;
    }

    &__button {
      max-width: 96px;
      width: 100%;
      height: 47px;
    }
  }

  .about {
    &__content {
      flex-direction: column-reverse;
      min-height: 143px;
      padding: 43px 0 9px 0;
      box-sizing: border-box;
      margin: 0 8px;
    }
  }

  .copyright {
    text-align: center;
  }

  .page-info {
    &__content {
      margin: 0;
      justify-content: start;
      flex-direction: column;
      &_mono {
        align-items: center;
        justify-content: center;
      }
    }

    &__title {
      padding: 24px 0 0 0;
      margin: 0 0 32px 0;
      &_mono {
        margin: 0;
        padding: 0;
      }
    }
  }

  .main-filter {
    width: auto;

    &__text {
      display: none;
    }

    &__icon {
      height: 25px;
      width: 38px;
    }
  }

  .filters-list {
    &__title {
      font-size: 12px;
      line-height: 14px;

      &_size_s {
        font-size: 10px;
        line-height: 12px;
      }
    }

    &__item {
      &:last-child {
        margin: 0;
      }
    }

    &__item_wide {
      margin: 0 24px 0 0;
    }
  }

  .pagination {
    margin: 0;
  }

  .product {
    margin: 0 0 64px 0;

    &__description {
      position: relative;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 64px 24px 31px;
      margin: 0 0 49px 0;

      &::after {
        content: "";
        background: #EAEAEA;
        width: 175px;
        height: 1px;
        position: absolute;
        bottom: 0;
      }
    }

    &__button {
      margin: 64px 0 0 0;
    }

    & .container {
      max-width: 100%;
    }
  }

  .slider {
    position: relative;
    justify-content: center;

    &__arrow {
      &_left {
        position: absolute;
        left: 0;
      }

      &_right {
        position: absolute;
        right: 0;
      }
    }

    &__photo {
      max-width: 375px;
      height: 100%;
    }
  }

  .cart {
    padding: 39px 0 96px 0;

    &__content {
      max-width: 100%;
      flex-direction: column;
    }

    &__form {
      margin: 0 8px;
    }

    &__item {
      margin: 0 0 32px 0;

      &:last-of-type {
        margin: 0 0 30px 0;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
    }

    &__button {
      max-width: 175px;
      width: 100%;
      height: 33px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: capitalize;
      color: #575757;
      margin: 0;

      &:last-child {
        margin: 0 0 0 8px;
      }

      &_size_s {
        width: 101px;
        height: 35px;
        margin: 0 0 48px 0;
      }

      &_size_l {
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        width: 273px;
        height: 50px;

        &:last-child {
          margin: 0;
        }
      }
    }

    &__bill {
      padding: 48px 0 0 0;
      flex-direction: column;

      &-form {
        max-width: 100%;
        margin: 0 8px 0 0;
      }
    }

    &__total {
      margin: 48px 0 0 0;
    }

    &__text {
      &_size_s {
        margin: 0 0 12px 0;
      }

      &-box::after {
        margin: 21px 0 17px 0;
      }
    }
  }

  .registration {
    &__content {
      margin: 0 8px;
      flex-direction: column;
    }
  }

  .registration-form {
    margin: 0 0 40px 0;
  }
}