* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* page-header */
.page-header {
  background: #222222;
  width: 100%;
}

.page-header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.page-header-buttons-left {
  display: flex;
  align-items: flex-end;
}

.page-header-logo {
  margin: 0 41px 0 0;
}

.page-header-buttons-right {
  display: flex;
  align-items: flex-end;
}

.page-header-menu {
  margin: 0 33px 0 0;
}

.page-header-profile {
  margin: 0 33px 0 0;
}

/* top-banner */
.top-banner {
  background: #F1E4E6;
  width: 100%;
  margin: 0 0 65px;
}

.top-banner-content {
  background: url(img/top_banner_img.png) no-repeat -227px;
  min-height: 764px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-banner-brand {
  position: relative;
  padding: 0 129px 91px 0;
}

.top-banner-brand::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: -1px;
  left: -28px;
}

.top-banner-brand-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top-banner-brand-subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.top-banner-brand-subtitle span{
  color: #F16D7F;
}

/* categories */
.categories {
  margin: 0 0 66px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.categories-card {
  height: 260px;
  width: 360px;
  margin: 0 0 30px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-card-link {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  align-items: center;
}

.categories-card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #F26376;
}

.categories-card-note {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0 0 4px;
}

.categories-card:first-child {
  background: url(img/category-1.jpg);
}

.categories-card:nth-child(2) {
  background: url(img/category-2.jpg);
}

.categories-card:nth-child(3) {
  background: url(img/category-3.jpg);
}

.categories-card:last-child {
  background: url(img/category-4.jpg);
  height: 180px;
  width: 100%;
}

/* products */
.products {
  margin: 0 0 95px 0;
}

.products-header {
  text-align: center;
  margin: 0 0 48px 0;
}

.products-header-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 0 6px 0;
}

.products-header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 33px 0;
}

.products-card {
  width: 360px;
  margin: 0 0 30px 0;
  background: #F8F8F8;
}

.products-card-description {
  padding: 25px 16px 20px;
}

.products-card-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 13px 0;
}

.products-card-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin: 0 0 18px 0;
}

.products-card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-footer {
  text-align: center;
}

.products-footer-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 14px 38px 13px;
  text-decoration: none;
}