* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
}

.page-header {
  background: #222;
  min-height: 75px;
}

.page-header-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 75px;
}

.page-header-buttons {
  align-items: flex-end;
  display: flex;
}

.page-header-buttons-icon {
  fill: #e8e8e8;
}

.page-header-buttons-icon:hover {
  fill: #f16d7f;
}

.page-header-logo {
  margin-right: 41px;
}

.page-header-search {
  display: flex;
}

.page-header-search-input {
  background: #fff;
  border: none;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  width: 0;
  transition: 0.5s;
}

.page-header-search-label {
  cursor: pointer;
}

.page-header-search-input:focus {
  margin-right: 4px;
  padding: 5px;
  width: 150px;
}

.menu {
  margin-right: 33px;
}

.menu-checkbox {
  display: none;
}

.menu-label {
  cursor: pointer;
}

.menu-checkbox:checked ~ .menu-list-wrap {
  height: 764px;
}

.menu-list-wrap {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  height: 0;
  overflow: hidden;
  position: absolute;
  right: -232px;
  top: 75px;
  width: 232px;
  transition: .5s;
}

.menu-list {
  list-style-type: none;
  padding: 16px 17px 0 34px;
}

.menu-list-item {
  margin: 0 0 20px 0;
}

.menu-list-item-close {
  display: flex;
  justify-content: right;
  margin: 0 0 9px 0;
}

.menu-list-item-close-icon {
  fill: #6f6e6e;
}

.menu-list-item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin: 0 0 24px 0;
  text-transform: uppercase;
}

.menu-list-item-link {
  color: #f16d7f;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.menu-sublist {
  padding: 0 0 0 22px;
  list-style-type: none;
}

.menu-sublist-item {
  margin: 0 0 11px 0;
}

.menu-sublist-item-link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.page-header-profile {
  margin-right: 33px;
}

.page-header-cart {
  position: relative;
}

.page-header-cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background: #f16d7f;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -6px;
  right: -10px;
}

.banner {
  background: #f1e4e6;
  margin: 0 0 65px 0;
}

.banner-wrap {
  align-items: center;
  background: url(img/banner_img.png) no-repeat left;
  display: flex;
  justify-content: right;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 764px;
}

.banner-brand {
  padding: 0 331px 91px 0;
  position: relative;
}

.banner-brand::before {
  background: #f16d7f;
  content: "";
  display: block;
  height: 92px;
  left: -28px;
  position: absolute;
  top: -1px;
  width: 12px;
}

.banner-brand-title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.banner-brand-subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.banner-brand-subtitle-accent{
  color: #f16d7f;
}

.categories {
  margin: 0 auto 96px;
  max-width: 1140px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.categories-list-item {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 260px;
  margin: 0 0 30px;
  width: 360px;
}

.categories-list-item-link {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.categories-list-item-title {
  color: #f26376;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.categories-list-item-note {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0 0 4px;
  text-transform: uppercase;
}

.categories-list-item:first-child {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/category-1.jpg);
}

.categories-list-item:nth-child(2) {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/category-2.jpg);
}

.categories-list-item:nth-child(3) {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/category-3.jpg);
}

.categories-list-item:last-child {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/category-4.jpg);
  height: 180px;
  margin: 0;
  width: 100%;
}

.products {
  margin: 0 auto 96px;
  max-width: 1140px;
}

.products-header {
  text-align: center;
  margin: 0 0 48px 0;
}

.products-header-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0 0 6px 0;
}

.products-header-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 19px 0;
}

.products-list-item {
  background: #f8f8f8;
  margin: 0 0 30px 0;
  width: 360px;
}

.products-list-item:hover .products-card-photo{
  opacity: 0.14;
}

.products-list-item:hover .products-card-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.products-card {
  position: relative;
}

.products-card-photo-wrap {
  background: #3A3838;
  height: 420px;
  width: 100%;
}

.products-card-description {
  padding: 25px 16px 20px;
}

.products-card-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 13px 0;
  text-transform: uppercase;
}

.products-card-text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 18px 0;
}

.products-card-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.products-card-button {
  cursor: pointer;
  display: none;
  background: transparent;
  border: 1px solid #fff;
  left: 111px;
  padding: 7px 11px 5px;
  position: absolute;
  top: 188px;
}

.products-card-button-icon {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-card-button-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.products-footer {
  display: flex;
  justify-content: center;
}

.products-footer-button {
  border: 1px solid #ff6a6a;
  display: inline-block;
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 14px 38px 13px;
  text-decoration: none;
}

.products-footer-button:hover {
  background: #F16D7F;
  color: #fff;
}

.features {
  background: #222224;
  min-height: 341px;
}

.features-wrap {
  margin: 0 auto;
  max-width: 1140px;
}

.features-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-height: 341px;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 134px;
  text-align: center;
  width: 360px;
}

.features-list-item:first-child {
  background: url(img/delivery.svg) no-repeat top;
}

.features-list-item:nth-child(2) {
  background: url(img/sales.svg) no-repeat top;
}

.features-list-item:last-child {
  background: url(img/quality.svg) no-repeat top;
}

.features-list-item-title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.features-list-item-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.page-footer {
  background: #222224;
}

.subscribe{
  background: linear-gradient(rgba(244, 244, 244, .7), rgba(244, 244, 244, .7)), url(img/subscribe-bg.jpg) no-repeat;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 448px;
}

.subscribe-wrap {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  padding: 87px 0 0 0;
}

.subscribe-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.subscribe-info-avatar {
  margin: 0 0 30px 0;
}

.subscribe-info-text {
  color: #222224;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.subscribe-info-text-italic {
  font-style: italic;
}

.subscribe-form-wrap {
  width: 360px;
}

.subscribe-form-title {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.subscribe-form-text {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.subscribe-form-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.subscribe-form {
  display: flex;
  height: 49px;
}

.subscribe-form-email {
  color: rgba(34, 34, 36, 0.67);
  background: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 17px;
  padding: 0 0 0 22px;
  width: 256px;
}

.subscribe-form-button {
  color: #fff;
  cursor: pointer;
  background:  #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 0 25px 25px 0;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 17px;
  width: 100px;
}

.about {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 79px;
}

.copyright {
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.socials-list {
  display: flex;
  list-style-type: none;
}

.socials-list-item {
  margin: 0 8px 0 0;
}

.socials-list-item:last-child {
  margin: 0;
}

.socials-list-item-link {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.socials-list-item-link:hover {
  background: #f16d7f;
}

.socials-list-item-link:hover .socials-list-item-icon {
  fill: #fff;
}

.socials-list-item-icon{
  fill: #000;
}

.page-info {
  background: #f8f3f4;
}

.page-info-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 148px;
}

.page-info-title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}

.breadcrumb {
  display: flex;
  list-style-type: none;
}

.breadcrumb-item {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #6f6e6e;
  content: "/";
  padding: 0 4px;
}

.breadcrumb-item-link {
  color: #6f6e6e;
  text-decoration: none;
}

.breadcrumb-item-link:hover {
  color: #f16d7f;
}

.products-filters {
  display: flex;
  margin: 0 0 64px 0;
  padding: 51px 0 0 0;
}

.base-filter {
  box-sizing: border-box;
  margin: 0 30px 0 0;
  padding: 0 16px;
  position: relative;
  width: 360px;
}

.base-filter-button {
  display: inline-block;
  cursor: pointer;
}

.base-filter-button:hover {
  color: #ef5b70;
}

#switch-base-filter {
  display: none;
}

.base-filter-button-pressed {
  color: #ef5b70;
}

#switch-base-filter:checked ~ .base-filter-list-wrap {
  display: block;
  z-index: 1;
}

.base-filter-button-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin: 0 11px 0 0;
  text-transform: uppercase;
}

.base-filter-button-icon {
  fill: currentColor;
}

.base-filter-list-wrap {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 16px;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.base-filter-list {
  list-style-type: none;
  padding: 16px 0 0 0;
}

.base-filter-list-item {
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  margin: 0 0 17px 0;
  padding: 11px;
}

.base-filter-list-item:last-child {
  margin: 0;
}

.base-filter-list-item-link {
  color: #ef5b70;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

.base-filter-sublist {
  padding: 7px 0 24px 34px;
  list-style-type: none;
}

.base-filter-sublist-item {
  margin: 0 0 11px 0;
}

.base-filter-sublist-item:last-child {
  margin: 0;
}

.base-filter-sublist-item-link {
  color: #6F6E6E; 
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.additional-filters-list {
  display: flex;
  list-style-type: none;
}

.additional-filters-list-item {
  margin: 0 28px 0 0;
  position: relative;
}

.additional-filters-button {
  color: #6f6e6e;
  cursor: pointer;
}

.additional-filters-button:hover {
  color: #ef5b70;
}

.additional-filters-button-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}

.additional-filters-button-icon {
  fill: currentColor;
}

#switch-tranding-filter,
#switch-size-filter,
#switch-price-filter {
  display: none;
}

#switch-size-filter:checked ~ .size-filter-list {
  display: block;
  z-index: 1;
}

.size-filter-list {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
  left: -10px;
  list-style-type: none;
  padding: 6px 21px 6px 10px;
  position: absolute;
  top: 20px;
  width: 100%;
}

#select-xsmall,
#select-small,
#select-medium,
#select-large {
  display: none;
}

#select-xsmall:checked ~  .size-filter-list-item-text::before,
#select-small:checked ~ .size-filter-list-item-text::before,
#select-medium:checked ~ .size-filter-list-item-text::before,
#select-large:checked ~  .size-filter-list-item-text::before {
  background: #ef5b70;
}

.size-filter-list-item {
  margin: 0 0 4px 0;
}

.size-filter-list-item-text {
  color: #6F6E6E;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.size-filter-list-item-text::before {
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 13px;
  margin: 0 10px 0 0;
  width: 13px;
}

.pagination {
  border: 1px solid #ebebeb;
  display: flex;
  padding: 15px 16px;
  list-style-type: none;
}

.pagination-item {
  margin: 0 18px 0 0;
  align-items: center;
  display: flex;
}

.pagination-item-arrow {
  align-items: center;
  display: flex;
}

.pagination-item-arrow-icon {
  fill: #000;
}

.pagination-item-arrow-icon:hover {
  fill: #ef5b70;
}

.pagination-item:nth-last-child(3),
.pagination-item:nth-last-child(4){
  margin: 0;
}

.pagination-item-number {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.pagination-item-link {
  color: #c8c8c8;
  text-decoration: none;
}

.pagination-item-link:hover {
  color: #ef5b70;
}

.selected-product {
  margin: 0 auto;
  max-width: 1600px;
}

.selected-product-slider {
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 777px;
}

.selected-product-slider-arrow {
  align-items: center;
  background: rgba(42, 42, 42, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 47px;
  width: 47px;
}

.selected-product-slider-arrow-icon {
  fill: #000;
}

.selected-product-slider-arrow:hover .selected-product-slider-arrow-icon{
  fill: #f16d7f;
}

.selected-product-info-wrap {
  margin: -65px auto 129px;
  position: relative;
  width: 1140px;
}

.selected-product-info {
  align-items: center;
  background: #fff;
  border: 1px solid #eaeaea;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  padding: 0 0 65px 0;
}

.selected-product-description {
  border-bottom: 1px solid #eaeaea;
  padding: 65px 43px;
  margin: 0 0 65px 0;
  text-align: center;
  width: 555px;
}

.selected-product-category {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 27px 0;
  position: relative;
  text-transform: uppercase;
}

.selected-product-category:before {
  content: "";
  background: #ef5b70;
  display: block;
  height: 3px;
  left: 246px;
  position: absolute;
  top: 29px;
  width: 63px;
}

.selected-product-name {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 0 48px 0;
  text-transform: uppercase;
}

.selected-product-text {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 0 0 32px 0;
}

.selected-product-price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.selected-product-details-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 54px 0;
}

.selected-product-details-list-item {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0 23px 0 0;
  text-transform: uppercase;
}

.selected-product-details-list-item:last-child {
  margin: 0;
}

.selected-product-details-list-item:hover {
  color: #f16d7f;
}

#switch-product-color,
#switch-product-size,
#switch-product-quantity {
  display: none;
}

.selected-product-details-button {
  cursor: pointer;
} 

.selected-product-details-button-text {
  margin: 0 9px 0 0;
}

.selected-product-details-button-icon {
  fill: currentColor;
}

.selected-product-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid #ff6a6a;
  box-sizing: border-box;
  height: 47px;
  width: 211px;
}

.selected-product-button:hover {
  background: #ff6a6a;
}

.selected-product-button:hover .selected-product-button-icon {
  fill: #fff;
}

.selected-product-button:hover .selected-product-button-text {
  color: #fff;
}

.selected-product-button-icon {
  fill: #ef5b70;
  margin: 0 23px 0 0;
}

.selected-product-button-text {
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}